// Navigation code here
.navigator {
    .flexSpaceBetween();
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: @nav-bg;

    .navlinks {
        .flexSpaceBetween();
        min-width: 300px;

        a {
            .navLinkStyles();

            &:hover {
                background-color: rgb(233, 223, 223);
                border-radius: 8px;
            }

        }
    }
}